body{
    margin:0;
    padding:0;
    }


    .container1 {
        height: auto;
        display: flex;
        justify-content: center;
    }


    .login-text{
        font-family: 'Quicksand', sans-serif;
    }
    
   
    
    
    .login {
        align-items: center;
        flex-direction: column;
        display: flex;
        justify-content: center;
    }
    
    #centered-card{
         margin:0;
         padding:0;
    }
    
    
    
    
    #hellobutton:hover {
        background: rgb(218, 151, 218);
    }
    
    
    /*Home styles*/
    .container {
      max-width: 960px;
    }
    
    
    #buttons{
    display:flex;
    
    }

    .flex-stuff{
    display:flex;
    }

