{%extends 'base.html'%}
{% block styles %}
{{super()}}
<!-- <link rel="stylesheet" href="{{url_for('static',filename='css/particle.css')}}"> -->
<link rel="stylesheet" href="{{url_for('static',filename='css/main.css')}}">
<style>
   body{
       background-image: url('https://incafrica.com/images/ai_image.jpeg');
       background-size: cover;
       background-repeat: no-repeat;
       height: 500px;

   }
</style>
{% endblock %}
{%block content%}

   <div class="card">

    <h1>{{user.username}}</h1>
    <h1>{{user.email}}</h1>
   </div>

{%endblock%}